
<div class="flex mb-4">
  <div class="bg-gray-200 h-full mx-auto">

    <div class="w-full lg:flex my-auto mt-10">
      <div class="border border-grey-light lg:border lg:border lg:border-grey-light bg-white rounded-b lg:rounded-r p-10 flex flex-col justify-between leading-normal mx-auto my-auto shadow-lg">
        <div class="mx-10">
          <h1 class="title has-text-centered text-gray-600">
            Login to Ticketkey
          </h1>
          <br>
          <%= render partial: 'shared/sessions/login_form' %>
        </div>
      </div>
    </div>

  </div>
</div>
