// Hide the content section upon document being ready.
$(() => {
  $('#content').hide()
  listenBrowseEvents();
  prepareModal();
});

function listenBrowseEvents() {
    $('#browse-events-button').on('click', function(event) {
    event.preventDefault();
    getEvents();
  });
};

function flipOnClick(classed_event) {
  $(`#card-${classed_event.id}-flip`).on("click", function(event) {
    event.preventDefault();

    $(`#event-${classed_event.id}`).after(classed_event.eventCardFlipSide())
    $(`#event-${classed_event.id}`).hide()
  })
}

function getEvents() {
  var id = $('#browse-events-button').data("id")
  $.ajax({
    url: `http://localhost:3000/brands/${id}.json`,
    method: 'get',
    success: function(response) {
      var events = response["events"]
      events.forEach(function(event) {
        var classed_event = new Evvent(event)
        $('#eventList').append(classed_event.eventCard())
        flipOnClick(classed_event);
      })

      $('#content').show()
    }
  })
}

class Evvent {
  constructor(object) {
    this.id = object.id;
    this.name = object.name;
    this.category = object.category;
    this.date_start = object.date_start;
    this.date_end = object.date_end;
    this.total_available_tickets = object.total_available_tickets;
    this.total_tickets = object.total_tickets;
    this.percent_sold = object.percent_sold;
  }
}

Evvent.prototype.eventCard = function() {
  return `
    <div class="w-1/3 my-1 index" id="event-${this.id}">
      <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2" data-event-id="${this.id}">
        <a class="mx-auto my-auto" id="card-${this.id}-flip">
          <div class="bg-gray-900 px-1 py-3 relative">
            <p class="text-gray-200 antialiased text-2xl font-bold p-2">
              ${this.name}
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 float-right">${this.percent_sold}% sold</span>
            </p>
          </div>
          <img class="w-full" src="https://picsum.photos/200/180?random=${this.id}&blur=3&grayscale">
        </a>
      </div>
    </div>
  `
}

Evvent.prototype.eventCardFlipSide = function() {
  return `
    <div class="w-1/3 my-1 show">
       <div class="max-w-sm rounded overflow-hidden shadow-lg mx-2" data-event-id="${this.id}">
       <img class="w-full" src="https://picsum.photos/200/100?grayscale&random=${this.id}">
         <div class="px-6 py-4">
           <div class="font-bold text-xl mb-2"><a href="/events/${this.id}">${this.name}</a></div>
           <p class="text-gray-700 text-base">
             Starts on ${this.date_start}
           </p>
           <p class="text-gray-700 text-base">
             Ends on ${this.date_end}
           </p>
           <p class="text-gray-700 text-base">
             ${this.total_available_tickets} tickets left (${this.percent_sold}% sold)
           </p>
         </div>
         <div class="px-6 py-4">
           <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#${this.category}</span>
         </div>
       </div>
     </div>
  `
}


// modal

function prepareModal() {
  var openmodal = document.querySelectorAll('.modal-open')
  for (var i = 0; i < openmodal.length; i++) {
    openmodal[i].addEventListener('click', function(event){
  	event.preventDefault()
  	toggleModal()
    })
  }

  let overlay = document.querySelector('.modal-overlay')
  overlay.addEventListener('click', toggleModal)

  var closemodal = document.querySelectorAll('.modal-close')
  var modalCancel = document.querySelector('.modal-cancel')
  var closemodalArray = Array.from(closemodal)
  closemodalArray.push(modalCancel)
  for (var i = 0; i < closemodalArray.length; i++) {
    closemodalArray[i].addEventListener('click', toggleModal)
  }

  document.onkeydown = function(evt) {
    evt = evt || window.event
    var isEscape = false
    if ("key" in evt) {
  	isEscape = (evt.key === "Escape" || evt.key === "Esc")
    } else {
  	isEscape = (evt.keyCode === 27)
    }
    if (isEscape && document.body.classList.contains('modal-active')) {
  	toggleModal()
    }
  };


  function toggleModal () {
    var body = document.querySelector('body')
    var modal = document.querySelector('.modal')
    modal.classList.toggle('opacity-0')
    modal.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }
}
